<h1>U cannot do anything</h1>
<h3>
    In-Fridge
</h3>
<img src="latest_view.png" alt="Fridge View">


<!-- <ul>
    <% for(var i=0; i<length; i++){ %>
        <li>
            <%= "LOOP" + i %>
        </li>
    <% } %>
</ul> -->
